<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Crear cuenta</h1>
  </div>

  <form id="form" #registroForm="ngForm" (ngSubmit)= "registro(registroForm)">
    <ion-item lines="full">
      <ion-label position="floating">Cédula ciudadania</ion-label>
      <ion-input type="text" name="cedula" [(ngModel)]="usuario.cedula" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text" name="nombres" [(ngModel)]="usuario.nombres" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" name="apellidos" [(ngModel)]="usuario.apellidos" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="usuario.email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="usuario.password" required></ion-input>
    </ion-item>
    
    <ion-button expand="block" shape="round" type="submit">Registrarse</ion-button>
  </form>

  <p>Al presionar en 'Registrarse' usted acepta <br/>nuestros terminos y condiciones.</p>

</ion-content>
