<ion-header>
  <ion-toolbar>
    <ion-title>Autobuses</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="col">
    <ng-container>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/registrar-autobus']" color="primary">Agregar</ion-button>
      </ion-buttons>
    </ng-container>
    <ng-container *ngIf="autobuses != null">
      <ion-list>
        <ion-item *ngFor="let item of autobuses">
          <ion-avatar slot="start">
            <img [src]="url+'/obtener_foto_autobus/'+item.foto" alt="">
          </ion-avatar>
          <ion-label>
            <h2>{{item.marca}} {{item.modelo}}</h2>
            <p>PLACA: {{item.placa}}</p>
          </ion-label>
          <ion-icon name="create" slot="end"></ion-icon>
          <ion-icon name="trash"slot="end" (click)="eliminarAlert(item.placa)"></ion-icon>
        </ion-item>
      </ion-list> 
    </ng-container>
    <ng-container *ngIf="autobuses == null">
      <div class="col-lg-12 col-md-5">
          <h3 class="h6 mb-2 text-uppercase">No se encontraron autobuses registrados</h3>
      </div>
    </ng-container>
  </div>
  
</ion-content>
