ion-content {
    --background: #f5f5f3;

    #header {
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-weight: 700;
            font-size: 26px;
            margin-bottom: 10px;
        }
    }
    
    form {
        margin-top: 30px;
        padding-left: 30px;
        padding-right: 30px;

        ion-button{
            margin-top: 35px;
            height: 48px;
            font-size: initial;
            border-radius: 50px;
            box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
            --box-shadow: none;
        }
    }

    p {
        text-align: center;
        color: #555555;
        margin-top: 30px;
        font-size: 18px;
    }
}