<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Estudiante</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Registrar Estudiante</h1>
  </div>
  <form id="form" #registroForm="ngForm" (ngSubmit)= "registro_estudiante(registroForm)">
    <ion-item lines="full">
      <ion-label position="floating">Cédula del estudiante</ion-label>
      <ion-input type="text" name="cedula" [(ngModel)]="estudiante.cedula" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Nombre del estudiante</ion-label>
      <ion-input type="text" name="nombre" [(ngModel)]="estudiante.nombre" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellidos del estudiante</ion-label>
      <ion-input type="text" name="apellidos" [(ngModel)]="estudiante.apellido" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Curso del estudiante</ion-label>
      <ion-input type="text" name="curso" [(ngModel)]="estudiante.curso" required></ion-input>
    </ion-item>
    <ion-item (click)="addDirection()" lines="full">
      <ion-label class="normal" slot="start">
         Ubicación
      </ion-label>
      <ion-buttons slot="end">        
        <ion-icon slot="icon-only" color="danger" name="location"></ion-icon>        
      </ion-buttons>
    </ion-item>
    <ion-item lines="full">
      <div>	
        <label for="">Foto del estudiante</label>
        <div class="custom-file">
          <input class="custom-file-input" type="file" id="file-input" (change)="fileChangeEvent($event)">
        </div>
        <br/>
        <div>
          <img [src]="this.imgSelect" id="foto" class="img-thumbnail" alt="Rounded image">
        </div>
    </div>
    </ion-item>
    <ion-button expand="block" shape="round" type="submit">Guardar Estudiante</ion-button>
  </form>
  <p [routerLink]="['/listar-estudiantes']" (click)="regresar()">Regresar</p>
</ion-content>
