<ion-header>
  <ion-toolbar>
    <ion-title>Estudiantes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="col">
    <ng-container>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/registrar-estudiante']" color="primary">Agregar</ion-button>
      </ion-buttons>
    </ng-container>
  </div>

</ion-content>
